body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.binary-rain {
    position: absolute;
    top: 0;
    color: #0f2;
    font-size: 16px;
    white-space: nowrap;
}
