body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.binarydrop {
    position: absolute;
    width: 59px;
    height: 1730px;
    background-size: cover;
    animation: fall 30s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
